<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>223321674090-1fn424i068gk9sn7904jn0rp3kv13s6k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.223321674090-1fn424i068gk9sn7904jn0rp3kv13s6k</string>
	<key>API_KEY</key>
	<string>AIzaSyBFIVAdOSZsHiHn97Ev4UMayVMuWWXkN40</string>
	<key>GCM_SENDER_ID</key>
	<string>223321674090</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>cardenas.fernando.MarvelUniverseForAll</string>
	<key>PROJECT_ID</key>
	<string>marveluniverseforall</string>
	<key>STORAGE_BUCKET</key>
	<string>marveluniverseforall.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:223321674090:ios:9d7c41cc81fafd77161513</string>
</dict>
</plist>